# Base de datos local
db.sqlite3

# Entorno virtual
venv/
env/
.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Estáticos generados por collectstatic
staticfiles/

# Archivos de media subidos localmente
media/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db